.home{
    display: flex;
    .container{
       
        flex: 6;

        .widgets{
            display: flex;
            padding: 1rem 1.5rem;
            justify-content: space-between;
            gap: 2rem;
        }
        .charts{
            display: flex;
             padding: 1rem 1.5rem;
             gap: 2rem;
        }
    }
}