.feature{
    flex: 2;
    box-shadow: 2px 0px 13px -2px rgba(12, 0, 0, 0.69);
    padding: 1rem;

    .top{
        display: flex;
        justify-content: space-between;
        .title{
            color: grey;
            font-size: 1.4rem;
        }
        .icon{
            height: 2rem;
        }
    }

    .bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        justify-content: center;

        .charts{
            width: 13rem;
        }
        .title{
            color: grey;
            font-size: 1.5rem;
        }
        .amount{
            font-size: 3rem;
        }
        .desc{
            color: grey;
            text-align: center;
        }
        .summary{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 1rem;
            
            .item{
                
                .itemTitle{
                    color: grey;
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                    
                }
                .itemResult{
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    .icon{
                        width: 1.5rem;
                    }
                    .resultAmount{
                        font-size: 1.3rem;


                        &.positive{
                            color: green;
                        }
                        &.negative{
                            color: red;
                        }
                    }
                }
            }
        }
    }
}